[package]
name = "day01"
version.workspace = true
edition.workspace = true
license.workspace = true
description.workspace = true
repository.workspace = true

[dependencies]
aoc-utils.workspace = true
